
.front{
    
    display: flex;
    flex-direction: column;
    background-color: aqua;
    /* padding: 5px; */
    align-self: auto;
  
    
}
.front .card{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 20%}
    
.front .charts{
    flex:60%;
    display:flex;
    width: 100%;
    
}
.front .bar{
     flex: 40%; 
    width: 30%; 
    border:1px solid #D4D4D4;
    padding: 2%;
   margin: 5px;
   border-radius: 10px;
    
    

}
.front .pie{
     flex:20%;
    width: 15%;padding: 2%;
    border: 1px solid #D4D4D4;
    margin: 5px;
    border-radius: 10px;
    
}
.front .recent{
flex: 20%;
}

.card-body{
    padding: 15px 15px 0px;
}
.card-footer{
    padding: 0px 15px 10px 15px;
}
.numbers{
    font-size: 1.8rem;
    text-align: right;
}
.icon-big{
    font-size: 3em;
    min-height: 64px;
}
.card{
    padding : 10px;
    margin: 3px;

}

