
.overview{
    
    display: flex;
    flex-direction: column;
  
    
}
.overview .card{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 20%}
    
.overview .charts{
    flex:60%;
    display:flex;
    width: 100%;
    
}
.overview .bar{
     flex: 40%; 
    width: 30%; 
    border:1px solid #D4D4D4;
    padding: 2%;
   margin: 5px;
   border-radius: 10px;
    
    

}
.overview .pie{
     flex:20%;
    width: 15%;padding: 2%;
    border: 1px solid #D4D4D4;
    margin: 5px;
    border-radius: 10px;
    
}
.overview .recent{
flex: 20%;
}