.invent{
    display: flex;
    flex-direction: column;
    }
    .invent .search_bar{
        flex:20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .invent .items{
        flex: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        /* border: 1px solid blue */
    }
    